a {
    text-decoration: none;
    color: #000;
}

button {
    font-family: Inter !important;
    font-size: 20px;
}

input {
    outline: none;
    box-shadow: none;
}

::placeholder {
    color: #000;
    opacity: 1.0;
} 	

p {
    font-size: 16px;
    text-align: center;
}

span {
    font-size: 20px;
}

/* 
    Overall Architecture 
*/

#__Register__fullscreen {
    position: relative;
}

#__Register__form-normal__container {
    height: 35vh;
    margin: 25vh auto 3.5vh;
    position: relative;
}

#__Register__form-quick__container {
    height: 10vh;
    margin: 0 auto 14vh;
    position: relative;
}

#__Register__wallet__container {
    position: relative;
}

#__Register__join-wallet__container {
    position: relative;
}

#__Register__new-wallet__container {
    position: relative;
}

#__Register__join-wallet__container p {
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}

#__Register__new-wallet__container p {
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}

#__Mainpage__overview__container {
    height: 100vh;
}

#__overview__header__bar {
    background-color: #6bdcff;
    margin-bottom: 1vh;
    padding: 22vh 0 3.5vh;
}

#__overview__flexbox__bar {
    display: flex;
    height: 43vh;
    justify-content: center;
    margin: 0 auto;
    overflow-y: auto;
    flex-wrap: wrap;
}

#__overview__footer__bar {
    display: flex;
    justify-content: center;
    margin: 9vh 0 9.5vh;
}

/* 
#__Mainpage__homepage__container {
    height: 100vh;
}

#homepage__header__bar {
    background-color: #6bdcff;
    box-sizing: border-box;
    height: 29vh;
    padding-top: 20vh;
}

#homepage__notif__bar {
    background-color: #e5e5e5;
    border-radius: 10px;
    margin: 10vh 6.5vw;
    height: 39vh;
}
 */

#__Mainpage__manualTrack__container {
    margin-top: 6.5vh;
    height: 93.5vh
}

#manualTrack__header__bar {
    background-color: #f1f1f1;
    border: 3px solid #000000;
    border-bottom: 0;
    border-radius: 15px 15px 0px 0px;
    padding: 2.25vh 5vw;
    height: 2.75vh;
}

#manualTrack__form__bar {
    height: 38vh;
}

#__Mainpage__cameraTrack__container {
    margin-top: 6.5vh;
    height: 93.5vh
}

#cameraTrack__header__bar {
    background-color: #f1f1f1;
    border: 3px solid #000000;
    border-radius: 15px 15px 0px 0px;
    padding: 2.25vh 5vw;
    height: 2.75vh;   
}

#cameraTrack__form__bar {
    border: 3px solid #000000;
    border-top: 0;
    display: block;
    height: 85.25vh;
}

/* #cameraTrack__timer__bar {
    background-color: #E5E5E5;
    border: 3px solid #000000;
    height: 5vh;
    line-height: 5vh;
} */

/* 
    Detail of all elements 
*/

/* brand style */
.banner-padding {
    height: 12.5vh;
    position: relative;
}
/* 
.between {
    padding: 0 5.8vw;
}
 */
.brand-logo {
    height: 28.75px;
    width: 87.26px;
}

.register-submit {
    background-color: #fff333;
    font-size: 20px;
    font-weight: 600;
    margin-top: 3.5vh;
    height: 5.25vh;
    width: 80px;
}

/* element style */
#title-normal {
    font-size: 20px;
    text-align: center;
}

#form-normal input {
    font-size: 16px;
    height: 6.5vh;
    width: 280px;
}

.register-style {
    background-color: #e5e5e5;
    border: 3px solid #000;
    box-shadow: 3px 3px 0px #000;
    border-radius: 4px;
}

#form-submit {
    background-color: #fff333;
    font-weight: 600;
    height: 5.25vh;
    width: 80px;
}

#title-quick {
    font-size: 20px;
    text-align: center;
}

a.quick_button {
    font-size: 30px;
}

a.quick_button i::before {
    width: 30px;
    height: 30px;
    font-weight: 400;
}

.fa-facebook {
    color: #3b5998;
}

.fa-google {
    background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

.fa-line {
    color: #00b900;
}

#__walletInfo__bar {
    height: 20.5vh;
    padding-top: 27.5vh;
    padding-bottom: 4.125vh;
}

#usericon {
    /* not really in the right center */
    line-height: 21vh;
}

.wallet-btn {
    background-color: #E5E5E5;
    border: 3px solid #000000;
    box-shadow: 4px 4px 0px #000000;
    border-radius: 6px;
}

.user-icons-large {
    border-radius: 50%;
    box-sizing: border-box;
    display: inline-block;
    height: 14.75vh;
    width: 14.75vh;
}

#username {
    display: inline-block;
    font-size: 16px;
    margin-top: 3.25vh;
}

#__walletMenu__bar {
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding-bottom: 15.375vh;
}

.menu-flex {
    box-sizing: border-box;
    display: flex;
    font-size: large;
    font-weight: 600;
    height: 6.25vh;
    width: 38.5vw;
    align-items: center;
    justify-content: center;
    margin-top: 3.75vh;
}

#__joinWallet__bar {
    box-sizing: border-box;
    height: 87.5vh;
    padding: 36.5vh 14vw 0;
    text-align: right;
}

#__newWallet__bar {
    box-sizing: border-box;
    height: 87.5vh;
    padding: 38.5vh 14vw 0;
    text-align: right;
}

.enter_button {
    background-color: #e5e5e5;
    border: 3px solid #000000;
    box-shadow: 3px 3px 0px #000000;
    box-sizing: border-box;
    border-radius: 4px;
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
    height: 8vh;
    vertical-align: middle;
    width: 72vw;
}


.lively {
    background-color: #fff333;
    border: 2.5px solid #000;
    box-shadow: 3px 3px 0px #000;
    border-radius: 3px;
}

.gray {
    background-color: #e5e5e5;
}

.tab_title {
    margin: 0 auto;
}

#overview_title {
    font-size: 24px;
    font-weight: 700;
}

#__overview__flexbox__bar::-webkit-scrollbar { 
    display: none;
}

.flex-item {
    background-color: #e5e5e5;
    border: 4px solid #000000;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    border-radius: 10px;
    display: inline-flex;
    font-size: 24px;
    font-weight: 600;
    margin: 30px 15px 0;
    padding-top: 24px;
    justify-content: center;
    height: 150px;
    width: 150px;
}

.between {
    padding: 0 3vw;
}

#join-wallet-request {
    border-radius: 6px;
    font-size: 20px;
    left: 0;
}

#new-wallet-request {
    border-radius: 6px;
    font-size: 20px;
    left: 0;
}

/* .overview-flex {
    background-color: #c4c4c4;
    display: inline-flex;
    font-size: large;
    height: 8vh;
    width: 32vw;
    align-items: center;
    justify-content: center;
} */

.homepage_title {
    font-size: 32px;
    line-height: 39px;
}

.fab-menu {
    list-style: none;
}

.fab-menu li {
    display: inline-block;
    margin-bottom: 10px;
}

.fab-btn {
    height: 56px;
    width: 56px;
    font-size: xxx-large;
    padding: 0;
    transition: 0.3s;
}

/* .fab-btn:hover {
    transform: rotate(45deg);
} */

.user-icons {
    border-radius: 50%;
    display: inline-block;
    height: 8vh;
    width: 8vh;
}

.fa-user {
    font-size: xx-large;
    margin: 4vh 0;
}

.menu-flex_temp {
    display: flex;
    font-size: large;
    height: 6.5vh;
    width: 38.5vw;
    align-items: center;
    justify-content: center;
    margin-top: 6vh;
}

/* 
    New Style 
*/

.cancel-icon {
    display: flex;
    position: fixed;
}

.__Page__menualter {
    height: 5vw;
    width: 5vw;
    margin-top: calc(15vh);
    padding-left: 2vw;
}

label {
    font-size: 20px;
}

.break_style1 {
    border: 0;
    border-top: 2px double #494949;
    margin: 0 auto;
    width: 86vw;
}

.break_style2 {
    border: 0;
    border-top: 2px solid #C4C4C4;
    margin: 1vh auto 0;
    width: 86vw;
}

#manual-submit {
    display: inline;
    font-size: 20px;
    position: fixed;
    transform: translateX(22.25vw);
}

#basis_infos {
    background-color: #f1f1f1;
    border: 3px solid #000000;
    border-top: 0;
    display: inline-block;
    padding-top: 2vh;
    height: 9.5vh;
    /* width: 98.4vw; */
    width: 100vw;
    box-sizing: border-box;
}

#account_name {
    background-color: #f1f1f1;
    border: none;
    font-size: 20px;
    outline: none;
    padding-left: 0;
    /* height: 4.5vh; */
    width: 22vw;
}

#account_name::placeholder {
    font-size: 20px;
    color: #666;
}

#account_cost {
    background-color: #f1f1f1;
    border: none;
    font-size: 32px;
    outline: none;
    padding-left: 0;
    text-align: right;
    /* height: 4.5vh; */
    width: 54vw;
}

#account_cost::placeholder {
    font-size: 32px;
}

#other_infos {
    border: 3px solid #000000;
    border-top: 0;
    display: block;
    padding: 3vh 7vw 0;
    text-align: left;
    height: 73vh;
    width: 84.4vw;
}

#comment-block {
    height: 8vh;
}

label[for="comment"] {
    font-size: 18px;
    color: #444;
}

#comment {
    border: none;
    font-size: 18px;
    margin-top: 2.25vh;
    outline: none;
    width: 70vw;
}

#new-record {
    height: 6.5vw;
    width: 6.5vw;
    float: left;
    padding-right: 3vh;
    padding-top: 0.5vh;
}

#record-flexbox {
    display: flex;
    flex-wrap: wrap;
}

.record-style {
    border-bottom: 2px solid #C4C4C4;
    display: flex;
    align-items: center;
    font-size: 20px;
    height: 4vh;
    padding-right: 2vw;
}

.record-name {
    border: none;
    font-size: 18px;
    outline: none;
    margin-top: 3px;
    width: 43vw;
}

.record-cost {
    border: none;
    font-size: 20px;
    outline: none;
    margin-top: 3px;
    text-align: right;
    width: 25.6vw;
}

#payer {
    height: 5.5vh;
}

#splitter {
    height: 5.5vh;
}

.alloc_text, .alloc_img, .alloc_type, .alloc_next {
    display: inline-block;
}

.alloc_text {
    font-size: 18px;
    width: 20vw;
}

.alloc_img {
    font-size: 18px;
    width: 45.5vw;
}

.alloc_type {
    font-size: 18px;
    width: 13vw;
}

.small_icon {
    height: 3.5vh;
    width: 3.5vh;
}

.remaining {
    display: block;
    font-size: 16px;
    margin-top: 1vh;
    text-align: right;
}

#camera-submit {
    display: inline;
    font-size: 20px;
    position: fixed;
    transform: translateX(18vw);
}

.camera_msg {
    display: block;
}

/* 
.splitter {
    font-size: 18px;
    text-align: left;
}

#checkbox {
    list-style: none;
    padding-left: 0;
}

#checkbox li {
    display: inline-block;
    text-align: center;
}

input[type="checkbox"][id^="user"] {
    display: none;
}

#checkbox label {
    display: block;
    margin: 0 auto;
}

#checkbox label img {
    border: 2px solid #494949;
    border-radius: 50%;
    margin: 0.5vh 1.5vw 1.5vh 0;
    height: 61px;
    width: 61px;
    transition-duration: 0.2s;
    transform-origin: 0;
}

#checkbox :checked+label img {
    border: 5px solid #fff333;
    border-radius: 50%;
    transform: scale(0.92);
    // z-index: -1;
}

#spending-confirm {
    transform: translate(30vw, 32.5vh);
}
*/

.preview-container {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border: 3px dotted #ccc;
    margin: 0px auto;
}

/* 
#video {
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
    width: 320px;
    height: 240px;
}

#photo {
    border: 1px solid black;
    box-shadow: 2px 2px 3px black;
    width: 320px;
    height: 240px;
}

#canvas {
    display: none;
}

.camera {
    width: 340px;
    display: inline-block;
}

.output {
    width: 340px;
    display: inline-block;
    vertical-align: top;
}

#startbtn {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    bottom: 32px;
    background-color: rgba(0, 150, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    color: rgba(255, 255, 255, 1.0);
}
*/
